%a#rewrite{tabindex: "-1"}
.rewrite.pure-g.pure-form{ data: { "ng-controller" => "rewrite", "ng-show" => "pkg.projectConfig.middleman.features.development.rewrite.checked" }}

	.pure-control-group.pure-u-1-3
		%h2 Rewrite rules

	.pure-control-group.pure-u-2-3
		%fieldset
			%legend Choose required rewrite rules, or add your own

			%label.pure-checkbox{ data: { "ng-repeat" => "rule in pkg.projectConfig.middleman.rewrite.development | orderBy:'rule.order'" }}
				%input{data: { "ng-model" => "rule.checked", "ng-checked" => "rule.checked" }, type: "checkbox", value: "{{rule.pattern}}"}/
				%span {{rule.name}} {{rule.order}}
				%br/
				%input{data: { "ng-model" => "rule.pattern", "ng-show" => "rule.checked" }, type: "text" }/

			%button.pure-button.pure-button-primary{ data: { "ng-click" => "addRule()" }} Add project specific rule